body {
  padding-top: 40px;
}

div.form-group label {
  text-align: right;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

.video-container {
  position:relative;
  padding-bottom:75%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.mindmap {
  border: none;
  width: 100%;
  height: 400px;
}

.jumbotron {
  margin-bottom: 0px;
  background-image: url(images/wallpaper3.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 450px;
  vertical-align: bottom;
  text-shadow: black 0.3em 0.3em 0.3em;
  vertical-align: bottom;
}

.jumbotron h1 {
  color: white;
}

.carousel-ccds img{
  width: 100%;
}

.carousel-minesweeper img{
  width: 100%;
}

.carousel-snakes2 img{
  width: 100%;
}

.carousel-tictactoe img{
  width: 100%;
}

.gif-images img{
  width: 100%;
}